<!-- https://mooneegee.blogspot.com/2017/11/python-flask-static-files.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'mystyle.css') }}">
</head>
<body>
    <h1>외부 파일 CSS</h1>
    <button onclick="hello()">외부 파일 JS</button>
    <script src="{{ url_for('static', filename = 'myscript.js') }}"></script>
</body>
</html>